[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

# Asset meta data should be tracked
!/[Aa]ssets/**/*.meta
!/[Pp]ackages/**/*.meta
!/[Pp]rojectSettings/**/*.meta

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db